.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.formSection {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  margin: 10px 0;
  min-width: 300px;
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
}

.saveButton,
.resetButton {
  text-transform: none;
  font-size: 18px;
  padding: 5px 40px 3px;
}

@media (max-width: 720px) {
  .actionsContainer {
    justify-content: center;
  }
}
