.container {
  display: flex;
  flex-direction: column;
  padding: 40px 60px 20px 60px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.formSection {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: min(450px, 100%);
}

.inputContainer {
  margin: 30px 0;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 40px;
  right: 50px;
}

.saveButton,
.resetButton {
  text-transform: none;
  font-size: 1.2rem;
  padding: 10px 40px 8px;
}

@media (max-width: 720px) {
  .actionsContainer {
    justify-content: center;
  }
}
