.container {
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 40px 60px 20px 60px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 30px 0;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 30px 0;
}

.biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 30px 0;
}

.subContentTitle {
  width: 100%;
}

.informationContent,
.scoreContent,
.biographyContent {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
  height: 50%;
}

.atomicContentMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 20px;
}

.atomicContentTitle {
  width: 35%;
  margin-right: 50px;
}

.atomicContentContainer {
  display: flex;
  align-items: center;
  width: 65%;
}

.emailListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  height: 100%;
}

.emailItem {
  width: 100%;
  margin: 3px 0 15px 0;
}

.scoreContentImageContainer {
  margin-left: 7px;
  width: 2em;
}

@media (max-width: 780px) {
  .informationContent {
    width: 100%;
  }

  .subContentTitle {
    width: 100%;
    text-align: center;
  }

  .atomicContentMainContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .atomicContentTitle {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .atomicContentContainer {
    width: 100%;
    justify-content: center;
  }

  .emailListContainer {
    width: 100%;
    text-align: center;
  }
}
