.container {

  /* CSS grid helps with centering elements */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto 1fr;

  /* currently takes the entire height of the page to be in the middle of the viewport */
  height: 100vh;
}

.side {
  margin: auto;
  max-width: 60rem;
}

.loginForm {
  max-width: 60rem;
  width: 100%;
  margin: auto;
  text-align: center;
}

.loginForm h4 {
  margin-bottom: 3rem;
}

.loginForm .loginButton {
  max-width: 10rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
